---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';

import { headerData, footerData, headerDataEn, footerDataEn } from '~/navigation';

import type { MetaData } from '~/types';

export interface Props {
  metadata?: MetaData;
}

const { metadata } = Astro.props;

const currentHeaderData = Astro.currentLocale === 'en' ? headerDataEn : headerData;
const currentFooterData = Astro.currentLocale === 'en' ? footerDataEn : footerData;
---

<Layout metadata={metadata}>
  <slot name="header">
    <Header {...currentHeaderData} socialLinks={currentFooterData.socialLinks} isSticky showToggleTheme />
  </slot>
  <main>
    <slot />
  </main>
  <slot name="footer">
    <Footer {...currentFooterData} />
  </slot>
</Layout>
